
h2, h3{
    font-family:verdana;
      margin-left:3%
    }
    #why h2{
      background-color:rgb(255, 198, 108) ;
      margin-top:0px;
    }
    #why{
      border-bottom:1px solid black;
      border-top:1px solid black;
      
    }
    ul.menu{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(64, 64, 64);
      font-family:"geneva",sans-serif;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
    }
    li a {
      display: block;
      color: rgb(230, 92, 0);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      
    }
    ul li a {
      float:left;
    }
    li a:hover {
      background-color:rgb(230, 92, 0);
      color:rgb(64, 64, 64);
    }
    
    h1 {
      font-size:60px;
      color:white;
      margin-top:10%;
    }
    .main {
      text-align:center;
      width:55%;
      margin:auto;
      margin-bottom:20px;
      border-bottom:1px solid black;
      
    }
    body {
      font-family:"PT Sans", sans-serif;
      background-color:rgb(230, 92, 0);
        
    }
    .center {
      
      width:100%;
    }
    
    .content table {
      width:20%;
      text-align:left;
    }
    td{
      border-bottom:1px solid black ;
      border-right:1px solid black ;
      background-color:rgb(255, 133, 51);  margin:0px;
      width:100%
    }
    th {
      
      border:1px solid black ;
      background-color:rgb(255, 133, 51);
    }
    
    
    #contents {
      float:left;
      width:25%;
      margin:2%;
      margin-top:10%;
      background-color:rgb(255, 198, 108);
      
    }
    #cooking {
      width:65%;
      height:550px;
      margin:2%;
      border-left:2px dashed black;
      background-color:rgb(255, 198, 108);
      overflow:hidden;
      line-height:1.5em;
    }
    
    
    ol img {
      width:9%;
      float:left;
      margin-bottom:7px;
      margin-top:2px;
      margin-right:5px;
      margin-left:5px;
      
    }
    ol li {
      clear:both;
      border-top:3px ridge rgb(230, 92, 0);
      
    }
    ol .second-image {
      float:right;
      
    }
    .second-image:hover, .zoom:hover {
      width:20%;
    }
    #notes{
      border-top:1px solid black;
    }
    #notes h2{
      background-color:rgb(255, 198, 108) ;
      margin-top:0px;
    }
    p.comment {
      line-height:2em;
    }
    
    .bold{
      text-decoration:underline;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      margin-bottom:0px;
      width: 100%;
      background-color: rgb(64, 64, 64);
      color: white;
      text-align: center;
    }