html{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: rgb(70, 70, 117);
    text-align: center;
}
body {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/61ct7wZeR7L._SY450_.jpg");
    background-repeat: repeat;
    line-height: 2;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 25%;
    margin: auto;
    background-color: white;
    padding:20px;
  }
.card:hover{
    transform: scale(1.1);
}
.name {
    font-weight: bold;
    font-size: 1.5em;
}
.selfie{
    border-radius: 50%;
}
.info, .lists{
    width: 70%;
    border-top:1px solid black;
    margin: 30px auto;
    background-color: hsla(0, 0%, 100%, 0.7);
}
iframe{
    margin: auto;
}
p, h2{
    margin: 0px;
}
.unbullet {
    list-style: none;
}
.logo{
      width: 70px;
      height: 70px;
      border-radius: 50%;
}
@media screen and (max-width: 992px) {
    iframe {
      width: 400px;
    }
    .info, .lists{
        width: 80%;
        border-top:1px solid black;
        margin: 25px auto;
        background-color: hsla(0, 0%, 100%, 0.7);
    }
    .card{
        width: 35%;
      }
  }
@media screen and (max-width: 600px) {
    iframe {
      width: 300px;
    }
    .info, .lists{
        width: 90%;
        border-top:1px solid black;
        margin: 15px auto;
        background-color: hsla(0, 0%, 100%, 0.7);
    }
    .card{
        width: 55%;
      }
  }
@media screen and (max-width: 400px) {
    iframe {
      width: 280px;
    }
    .info, .lists{
        width: 95%;
        border-top:1px solid black;
        margin: 10px auto;
        background-color: hsla(0, 0%, 100%, 0.7);
    }
    .card{
        width: 75%;
      }
  }

.logo:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transform: scale(1.1);
    transition: 0.3s;
}
footer{
    background-color: rgb(70, 70, 117);
    color: white;
}
