body{
    background-color: #DCVE1D;
    width: 85%;
    margin: auto;
    color: #00303b;
    font-family: Helvetica, Arial, sans-serif;
}

.header{
    width: 100%;
    height: 160px;
    text-align: center;
    border-radius: 4px;
    background-color: #dbbe5c;
    
}

.selfie{
    height:100%;
    float: left;
    margin-left: 10px;
}

.info{
    width: 100%;
    background-color: #CAE4DB;
    margin-top:0px;
}

.info, .lists{
    text-align: center;
    font-size: 1.2em;
    line-height: 1.9em;
    border-radius: 4px;
}

.lists{
    float: left;
    width: 50%;
    background-color: rgb(142, 170, 164);
    margin: 0px;
    height: 100%;
    border-top:2px solid #00303b;
}

h2, ul, p{
    margin: 0px;
}
.info-p{
    width: 80%;
    margin: auto;
}
section, header{
    padding-top: 10px;
    padding-bottom: 15px;
}

